<div id="main-container">
  <a routerLink="/scanner-page" routerLinkActive="active">
    <img src="./assets/myopenfoodfact.png" style="max-width: 100%;" />
  </a>
</div>

<router-outlet></router-outlet>