<div class="main-container">
    <p>MES FAVORIS</p>
    <hr style="width:100%;">
    <div class="item-container" *ngFor="let product of favProducts">
        <div class="item-product" (click)="favClickHandler(product.code)">
            <mat-icon>view_column</mat-icon>
            <p>{{product.code}}</p>
            <p>{{product.product?.brands}}</p>

            <img [src]="product.product.image_front_small_url" />
        </div>
        <hr style="width:100%;">
    </div>
</div>