.main-container {
    width: 100%;
    text-align: center;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .item-product {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0.1em;
  }
  
  hr {
    margin: 0;
  }
  
  div.item-container:nth-child(even) {
    background: #ffdcdc;
  }
  div.item-container:nth-child(odd) {
    background: #eaeaea;
  }
  
  .item-product img {
    max-width: 2em;
    max-height: 2em;
    padding-right: 1em;
  }
  