<div class="main-container">
    <a routerLink="/search-view" routerLinkActive="active">
        <div class="horizontal-align">
            <mat-icon>arrow_back_ios</mat-icon>
            {{ barCode }}
        </div>
    </a>
    <p class="product-title">
        {{ openFoodFactProduct?.product?.brands }}
    </p>
    <p>
        {{ openFoodFactProduct?.product?.generic_name }}
    </p>

    <div class="horizontal-align">
        <div [class]="nutriColor"></div>
        <p>{{ nutriLabel }}</p>
    </div>

    <a [href]="openFoodFactProduct?.product?.link" target="_blank">{{
        openFoodFactProduct?.product?.link
        }}</a>
    <hr style="width:100%;" />
    <div class="horizontal-align">
        <mat-icon>view_column</mat-icon>
        {{ openFoodFactProduct?.product?.code }}
        <mat-icon class="fav-icon" (click)="favClickHandler()">{{
            openFoodFactProduct?.fav ? "favorite" : "favorite_border"
            }}</mat-icon>
    </div>

    <img class="product-img" [src]="openFoodFactProduct?.product.image_front_small_url" />
    <div class="horizontal-top-align">
        <div style="max-width: 40%;">
            <div class="horizontal-align">
                <mat-icon>local_dining</mat-icon>
                Ingrédients
            </div>
            <ul>
                <li *ngFor="let ingredient of openFoodFactProduct?.product?.ingredients">
                    {{ ingredient.text }}
                </li>
            </ul>
        </div>

        <div style="max-width: 40%;">
            <div class="horizontal-align">
                <mat-icon>fastfood</mat-icon>
                Allergènes
            </div>
            <ul>
                <li *ngFor="let allergene of openFoodFactProduct?.product?.allergens_imported.split(',')">
                    {{ allergene }}
                </li>
            </ul>
        </div>
    </div>
</div>