.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .product-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .horizontal-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .horizontal-top-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
  }
  
  .horizontal-align > * {
    margin: 1em 1em 1em 1em;
  }
  
  .fav-icon {
    color: #ff0000;
  }
  
  .product-img {
    max-width: 40%;
    max-height: auto;
    object-fit: contain;
    margin: 2em 2em 2em 2em;
  }
  
  li {
    font-size: 0.75em;
  }
  
  .nutri-container {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: blue;
  }
  
  .black {
    background-color: black;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .orange {
    background-color: orange;
  }
  