<a routerLink="/fav-view" routerLinkActive="active">
    <div class="horizontal-align">
        Mes favoris
        <mat-icon class="fav-icon">favorite</mat-icon>
    </div>
</a>
<div id="form-container">
    <input matInput type="text" [(ngModel)]="barCodeValue">
    <button mat-raised-button color="primary" (click)="searchBarCodeHandler($event)"
        disabled="{{!barCodeValue}}">Primary</button>
</div>
<div id="scan-container">
    <zxing-scanner #scanner start="true" (scanSuccess)="scanQRCodeCompleteHandler($event)" [formats]="allowedFormats"
        [autofocusEnabled]="true"></zxing-scanner>
</div>